
*.dll
*.pdb
*.json
*.cache
BusinessLayer/obj/Debug/netcoreapp2.1/BusinessLayer.csproj.FileListAbsolute.txt
BusinessLayer/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BusinessLayer/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BusinessLayer/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DataAccess/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DataAccess/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DataAccess/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Entities/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Entities/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Entities/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ProyectoMedico/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProyectoMedico/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProyectoMedico/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.CopyComplete
*.targets
ProyectoMedico/obj/Debug/netcoreapp2.1/ProyectoMedico.csproj.FileListAbsolute.txt
*.props
DataAccess/obj/Debug/netcoreapp2.1/DataAccess.AssemblyInfo.cs
DataAccess/obj/Debug/netcoreapp2.1/DataAccess.csproj.FileListAbsolute.txt
Entities/obj/Debug/netcoreapp2.1/Entities.AssemblyInfo.cs
Entities/obj/Debug/netcoreapp2.1/Entities.csproj.FileListAbsolute.txt
ProyectoMedico/obj/Debug/netcoreapp2.1/ProyectoMedico.AssemblyInfo.cs
BusinessLayer/obj/Debug/netcoreapp2.1/BusinessLayer.AssemblyInfo.cs
ProyectoMedico/bin/Debug/netcoreapp2.1/BD/HistoriasClinicas.txt
ProyectoMedico/bin/Debug/netcoreapp2.1/BD/Pacientes.txt
SISTEMA DE GESTION HOSPITALARIA.pdf
